@import url(https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap);

html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
}

.top-header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 4px 4px 4px black;
    font-family: "Mystery Quest", system-ui;
    font-style: normal;
    margin-bottom: 30px;
}

#welcome{
    font-size: 40px;
    margin: 20px;
}

#instruction{
    color: white;
    margin: 20px;
}

li{
    padding: 10px;
}

.video{
    margin: 20px;
    text-align: center;
}

.text-instruction{
    font-size: 20px;
    margin: 20px;
}

.video{
    color: white;
}

.main-box{
    background-color: rgb(92, 92, 92);
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
}

#top-menu{
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.menu-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, 285px);
    row-gap: 50px;
    column-gap: 50px;
    margin: 20px;
}

.menu-category{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    margin: 20px; 
}

.menu-item{
    background-color: rgb(186, 186, 186);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid black;
}

.image{
    background-color: rgb(186, 186, 186);
    background-repeat: none;
    width: 250px;
    height: 180px;
}

.see-more{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.backbox{
    display: inline-block;
    color: white;
    margin: 10px;
}

.backhome{
    width: 5%;
}

.bottom-footer{
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid black;
}

.contact{
    width: 100px;
    height: 100px;
    margin: 0 25px;
}